<head>
  <meta charset="utf-8">

  <!-- tell IE to use most up-to-date engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for mobiles, stretch site to full screen by default -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- try to generate description metadata based on page content -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="icon" href="{{ "/favicon.png" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- semantic RSS feed linking (if not on index, 'alternate home') -->
  <link rel="{% if page.url == '/index.html' %}{{ "alternate" }}{% else %}{{ "alternate home" }}{% endif %}" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!--
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  -->
</head>
